name: Update Repo

on:
  schedule: 
    - cron:  '30 22 * * *'
  workflow_dispatch:

jobs:
  update-versions:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo content
        uses: actions/checkout@v2

      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: install dependencies
        run: |
          if [ -f ./requirements_versions.txt ]; then pip3 install -r ./requirements_versions.txt; fi

      - name: run script
        run: |
          python3 process_versions.py

      - name: push changes
        run: |
          git config --global user.name 'HamletDuFromage'
          git config --global user.email '90281142+Homletbot@users.noreply.github.com'
          git add versions.json
          git add versions/*
          if [[ `git status --porcelain` ]]; then
            git commit -m "automatic: updated version files"
            git push
          else
            echo "Nothing to commit!"
          fi


  update-cheats:
    needs: update-versions
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo content
        uses: actions/checkout@v2
        with:
          ref: 'master'

      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: install python dependencies
        run: |
          if [ -f ./requirements_cheats.txt ]; then pip3 install -r ./requirements_cheats.txt; fi

      - name: install dependencies
        run: sudo apt-get install unrar rename

      - name: run python script
        run: |
          python3 upload_cheats.py -o $(curl -s -L https://github.com/HamletDuFromage/switch-cheats-db/releases/download/v1.0/VERSION)

      - name: push changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name 'HamletDuFromage'
          git config --global user.email '90281142+Homletbot@users.noreply.github.com'
          git add cheats/*
          status=$(git status --porcelain)
          if [[ `$status` ]]; then
            git commit -m "automatic: updated cheat files"
            git push
            version=$(cat VERSION)
            gh release create $version --notes "last updated: $(cat DATE)\nCheats updated:\n$(echo $status | xargs python3 build_changelog.py)"
            gh release upload $version ./contents.zip --clobber
            gh release upload $version ./titles.zip --clobber
            gh release upload $version ./VERSION --clobber
          else
            echo "Nothing to commit!"
          fi
